body{
    background-color: black;
    color: white;
}
header{
    height: 50px;
    display: flex;
    justify-content: center;
}
.menu{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon-home{
    color: white;
}
.thanhtimkiem{
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 100px;
}
main{
    display: flex;
    gap: 10px;
}
.thuvien{
    width: 20%;
    height: 580px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(31, 30, 30);
    
}
.manhinhchinh{
    width: 60%;
    height: 580px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(45, 43, 43);
    
}
.yeuthich{
    width: 20%;
    height: 580px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(31, 30, 30);
    
}
.tab-menu{
    display: flex;
    gap: 5px;
    margin-top: 10px;
    margin-left: 5px;
}
.tab{
    border: 1px solid gray;
    background-color: gray;
    border-radius: 10px;
    padding: 5px
}
.listsong{
    margin-top: 20px;
}
.hang{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-bottom: 20px;
}
.song{
    display:flex;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: gray;
    width: 150px;
    height: 40px;
    align-items: center;
    color: white;
}
.song img{
    border-radius: 10px 0 0 10px;
    width: 50px;
    height: 40px;
}
.baihatdangphat{
    display: flex;
    color: white;
    align-items: center;
    gap: 10px;
    margin: 5px;
}
.title-thuvien{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.menu-thuvien{
    display: flex;
    gap: 10px;
    margin: 5px;
}
.menu-thuvien div{
    border: 1px solid gray;
    border-radius: 15px;
    background-color: gray;
    padding: 5px;
}
.timkiem-thuvien{
    display: flex;
    gap: 10px;
    align-items: center; 
    justify-content: space-between; 
    margin: 5px; 
}
.baihat-thuvien{ 
    overflow-x: hidden; 
    overflow-y: scroll;
    width: 20;
    height: 448px;
}
.song-tv{
    display: flex;
    gap: 10px;
    align-items: center; 
    font-size: 10px;
}
.playlist-info{
    display: flex;
    gap: 5px;
}
.song-tv img{
    width: 40px;
    height: 40px;
}