body {
    margin:0px
}
nav {
    background-color:#0c4ca3;
    
}
.muc{
    display: flex; /*sắp xếp các khối linh hoạt*/
    justify-content: center; /*căn giữa theo chiều ngang, phải đi cùng display: flex*/
    list-style: none; /*bỏ dấu đầu dòng maker*/
    /*gap: 20px; /*khoảng cách giữa các hàng, cột trong flexbox*/
}
.muc li{
    list-style:none;
}
.td{
    padding: 15px  
}
.border{
    border-right: 1px solid gray;
}
.danhmuc-lienket{
    color: white;
    text-decoration-line: none; /*xóa bỏ các đường trang trí: vd đường gạch chân*/
    font-family: Roboto, Arial, Tahoma;
}
.banner-qc{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}
.qc{
    display: flex;
    justify-content: center;
}
/*Tạo đường kẻ*/
header{
    border-bottom: 15px solid #f1f1f2
}
.dangnhap-timkiem{
    display:flex;
    float:right;
    position: relative;
}

.timkiem{
    position:absolute;
    top: 20%;
    right: 20%
}
.more{
    border-bottom: 1px solid gray;
    display: flex;
    justify-content:space-between;
    margin: 0px 150px;
}
.more div{
    font-size: 25px;
    color:blue;
    border-bottom: 3px solid blue;
    padding: 15px 0px;
}
span{
    color: gray;
    float: right;
}
.more a{
    text-decoration-line: none;
}
.news{
    margin: 15px 80px;
    display: flex;
    justify-content: center;
}
.nd{
    width: 20%;
    margin: 0px 15px;
}
.f{
    padding: 0px;
}
.nd li{
    font-size: 14px;
    margin: 0px 10px;
}
li{
    list-style-type: square;
}
li::marker{
    color:blue;
    font-size:large;
}
.lienketweb{
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}
.tieubieu{
    display: flex;
    justify-content: center;
}
.anhweb img{
    width: 200px;
    height: 60px;
}
.dsweb{
    border: 1px solid gray;
    height:52px;
    width: 200px;
}
.title{
    height: 5px;
    font-size: 13px;
}
.oplienket{
    width: 190px;
    height: 20px;
    margin: 0 5px;
}
.thongbao{
    background-color: #f5f2f3;
}
.bangtb{
    margin: 20px 150px;
}
.tuyensinh{
    display: flex;
    justify-content: center;
    margin: 10px 150px;
    gap: 20px;
}
.hdsv{
    display: flex;
    justify-content: center;
    margin: 15px 150px;
    gap: 30px;
}
.doitac{
    display:flex;
    justify-content: center;
    margin: 15px 240px;
    gap:5px;
}
.media{
    background-color: black;
    color: white;
    margin: 0 auto;
    margin-bottom: 20px;
}
.media td{
    border-style:dashed;
}
footer{
    background-color: cornflowerblue;
    padding: 50px;
    color:white;
}
.chantrang{
    display:flex;
    justify-content: center;
    gap: 50px;
    margin: 0 140px;
}